/hyprlock/
/animations.conf
/animations/classic.conf
/themes/colors.conf
/workflows/default.conf
/animations/diablo-1.conf
/animations/diablo-2.conf
/animations/disable.conf
/animations/dynamic.conf
/workflows/editing.conf
/animations/end4.conf
/animations/fast.conf
/workflows/gaming.conf
/animations/high.conf
/hyprlock.conf
/hyprsunset.conf
/animations/ja.conf
/keybindings.conf
/animations/LimeFrenzy.conf
/animations/me-1.conf
/animations/me-2.conf
/animations/minimal-1.conf
/animations/minimal-2.conf
/monitors.conf
/animations/moving.conf
/nvidia.conf
/animations/optimized.conf
/workflows/powersaver.conf
/shaders.conf
/workflows/snappy.conf
/animations/standard.conf
/animations/theme.conf
/themes/theme.conf
/userprefs.conf
/animations/vertical.conf
/themes/wallbash.conf
/windowrules.conf
/workflows.conf
.idea